<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{/css/board-header.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/page-css/search.css}" />

<title>검색 결과</title>
</head>

<div layout:fragment="content">


	<div class="search-home">

		<div class="container-fluid px-0 ">
			<div id="search-header">
				<div
					th:replace="fragments/html/board-header :: board-header('검색 결과')"></div>


			</div>
			<div class="row">
				<div id="nav-container">
					<ul class="nav m-0 p-0" id="nav-container">
						<li class="nav-item " id="nav-item-custom"><a
							class="nav-link active" id="nav-custom" aria-current="page"
							th:href="@{/search(search=${search})}">전체</a>
							<div id="underbar-active"></div></li>
						<li class="nav-item" id="nav-item-custom"><a class="nav-link"
							id="nav-custom" aria-current="page"
							th:href="@{/search/review(search=${search})}">이력서/포트폴리오 첨삭</a>
							<div id="underbar"></div></li>
						<li class="nav-item" id="nav-item-custom"><a class="nav-link"
							th:href="@{/search/study(search=${search})}" id="nav-custom">스터디</a>
							<div id="underbar"></div></li>
						<li class="nav-item" id="nav-item-custom"><a class="nav-link"
							th:href="@{/search/recruit(search=${search})}" id="nav-custom">채용
								공고</a>
							<div id="underbar"></div></li>

					</ul>
					<div id="underbar-down"></div>
				</div>
			</div>
			<div class="row">

				<div class="col-12">
					<div id="search-home-content">
						<div id="search-header">
							<div
								th:replace="fragments/html/board-header :: board-header('이력서/포트폴리오 첨삭')"></div>

							<img th:src="@{/svg/arrow.svg}" width="35" height="35"
								onclick="location.href='/review'">
						</div>
					</div>


				</div>
			</div>
			<!--  
				<div class="portfolio">
					<img th:src="@{/img/portfolio.png}" width="300"> <img
						th:src="@{/img/portfolio.png}" width="300"> <img
						th:src="@{/img/portfolio.png}" width="300">
				</div>
				-->
			<!-- 첨삭 게시글 조회 (임시) -->

			<div class="col-12">

				<!-- 메인 캐러셀 -->
				<div id="main-container" th:if="${not #lists.isEmpty(reviewList)}">
					<div id="carouselExampleControls" class="carousel slide"
						data-bs-ride="carousel">
						<div class="portfolio">

							<div class="carousel-inner">
								<div th:each="chunk, iterStat : ${reviewList}"
									th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'"
									id="best-box">
									<div class="justify-content-center gap-4 box" id="review-box">
										<div th:each="review : ${chunk}">
										
										
										<div class="iframe-wrapper"
												style="position: relative; cursor: pointer;"
												th:onclick="|location.href='/review/post?reviewPostId=' + ${review.reviewPostId}|">
										
											<iframe th:attr="srcdoc=${review.portfolioHtml}"
												class="portfolio-img" scrolling="no" style="pointer-events: none;"></iframe> </div>
												
										</div>
									</div>
								</div>
							</div>



							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleControls" data-bs-slide="prev">
								<img th:src="@{/svg/left.svg}" id="left-button"> <span
									class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleControls" data-bs-slide="next">
								<img th:src="@{/svg/right.svg}" id="right-button"> <span
									class="visually-hidden">Next</span>
							</button>
						</div>
					</div>

				</div>
				<!-- 데이터가 없을 때 -->
				<div class="nodata" th:if="${#lists.isEmpty(reviewList)}">
					<h3 class="non-data">검색 결과가 없습니다.</h3>
				</div>



			</div>

			<div class="row">
				<div id="search-home-content">


					<div class="col">

						<div id="search-header">
							<div
								th:replace="fragments/html/board-header :: board-header('스터디')"></div>

							<img th:src="@{/svg/arrow.svg}" width="35" height="35"
								onclick="location.href='/study'">
						</div>


						<!-- 스터디 게시글 조회 -->

						<div class="table-responsive">
							<table class="table table-hover" id="search-table"
								th:if="${not #lists.isEmpty(studyList)}">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">작성자</th>
										<th scope="col">제목</th>
										<th scope="col">조회수</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="study, iterStat : ${studyList}"
										th:onclick="|location.href='/study/' + ${study.studyId}|">
										<th scope="row"
											th:text="${(studyCurrentPage - 1) * studySize + iterStat.index + 1}">1</th>
										<td th:text="${study.userId.nickname}">작성자</td>
										<td th:text="${study.title}">제목</td>
										<td th:text="${study.viewCount}">조회수</td>
									</tr>
								</tbody>
							</table>
							<!-- 데이터가 없을 때 -->
							<div class="nodata" th:if="${#lists.isEmpty(studyList)}">
								<h3 class="non-data">검색 결과가 없습니다.</h3>
							</div>

							<nav th:if="${not #lists.isEmpty(studyList)}"
								aria-label="Page navigation example">
								<ul class="pagination justify-content-center">

									<!-- 이전 페이지 -->
									<li class="page-item"
										th:classappend="${studyCurrentPage == 1} ? 'disabled'"><a
										class="page-link"
										th:href="@{/search(search=${search},studyPage=${studyCurrentPage - 1}, studySize=${studySize})}"
										tabindex="-1" aria-disabled="true">Previous</a></li>

									<!-- 페이지 번호 반복 -->
									<li class="page-item"
										th:each="i : ${#numbers.sequence(1, studyTotalPages)}"
										th:classappend="${i == studyCurrentPage} ? 'active'"><a
										class="page-link"
										th:href="@{/search(search=${search},studyPage=${i}, studySize=${studySize})}"
										th:text="${i}">1</a></li>

									<!-- 다음 페이지 -->
									<li class="page-item"
										th:classappend="${studyCurrentPage == studyTotalPages} ? 'disabled'">
										<a class="page-link"
										th:href="@{/search(search=${search},studyPage=${studyCurrentPage + 1}, studySize=${studySize})}">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>


				</div>
			</div>

			<div class="row">
				<div id="search-home-content">


					<div class="col">

						<div id="search-header">
							<div
								th:replace="fragments/html/board-header :: board-header('채용 공고')"></div>

							<img th:src="@{/svg/arrow.svg}" width="35" height="35"
								onclick="location.href='/recruit'">
						</div>

						<div id="recruit-container">
							<div class="recruit-box" th:each="recruit : ${recruitList}">
								<a th:href="${recruit.link}" target="_blank" style="all: unset;">
									<img th:src="${recruit.imgLink}" class="recruit-img">
									<div class="recruit-box-text">
										<h3 th:text="${recruit.company}" class="recruit-text"></h3>
										<h4 th:text="${recruit.content}" class="recruit-text"></h4>
									</div>
								</a>
							</div>
						</div>

						<!-- 데이터가 없을 때 -->
						<div class="nodata" th:if="${#lists.isEmpty(recruitList)}">
							<h3 class="non-data">검색 결과가 없습니다.</h3>
						</div>
					</div>


				</div>
			</div>



		</div>


	</div>

</div>
 
<div layout:fragment="script">
<script th:inline="javascript">
document.addEventListener("DOMContentLoaded", function() {
    var userId = /*[[${userId}]]*/ null;

    if (userId === null) {
        alert('로그인이 필요합니다.');
        window.location.href = '/login';
    } 
});
</script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	<script th:src="@{/js/home.js}"></script>
</div>
</html>