<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>

<link th:href="@{/css/board-header.css}" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/page-css/home.css}" />

<title>포폴듀스201 채용공고</title>
</head>

<div layout:fragment="content">

	<div>채용공고 홈입니다.</div>
</div>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div layout:fragment="script">
</div>
</html>