@charset "UTF-8";

.main-content {
	width: 1000px;
	margin: auto;
	margin-top: 40px;
}

.title-area {
	border-top: 1px solid black;
	border-bottom: 1px solid #DEE2E6;
	margin-top: 80px;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 15px;
}

.profile {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.title-area p {
	font-size: 20px;
}

.title-area .small {
	font-size: 14px;
	color: #B4B4B4;
}

#study-post-title {
	margin-bottom: 20px;
}

.board-title {
	margin-bottom: 30px;
}

.content-area {
	padding-left: 30px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 20px;
}

.board-content {
	font-size: 25px;
	margin-bottom: 80px;
}

.map-container {
	width: 100%;
	height: 300px;
	border-radius: 20px;
	margin: 0 auto 50px auto;
}

.map-title {
	color: #C9CACA;
	font-size: 25px;
	width: 120px;
	margin: auto;
	margin-bottom: 20px;
}

.like-button {
	margin-bottom: 40px;
	background-color: #FF4473;
	color: #ffff;
	border-color: #FF4473;
}

.like-button:hover, .like-button:disabled {
	box-shadow: none;
	background-color: #FF4473;
	border-color: #FF4473; /* 클릭 시 테두리색 변화 방지 */
	color: #ffff;
	opacity: 1;
}

.comment-area {
	padding-left: 30px;
}

#list-button {
	margin: 10px 0;
}

.report-img {
	width: 25px;
	height: 25px;
}

.report-content {
	resize: none;
}

.comment-title {
	margin: 0;
	line-height: 1;
	font-weight: bold;
	font-size: 25px;
	display: inline-block;
	border-bottom: 3px solid #ff4473;
	white-space: nowrap;
	margin-bottom: 20px;
}

.comment-content {
	resize: none;
	height: 100px;
	border-radius: 20px;
}

.comment-userName {
	font-size: 20px;
}

.comment-list {
	padding-top: 10px;
	border-top: 1px solid #DEE2E6;
	margin-top: 10px;
}

.hidden-update {
	display: none;
	margin-top: 10px;
}

.comment-line {
	border: none;
	color:none;
	border-top: 1px solid #DEE2E6;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity:0.1;
}

.all-userName:hover {
	cursor: pointer;
}
/* 페이지네이션 전체 글자 색 */
.pagination .page-link {
	color: #6C757D;
	background-color: #ffffff;
	border-color: #E9ECEF;
}

/* 활성 페이지 */
.pagination .page-item.active .page-link {
	color: #ffffff;
	background-color: #FF4473;
	border-color: #ff5733;
}

/* 비활성화된 이전/다음 버튼 */
.pagination .page-item.disabled .page-link {
	color: #ADB5BD;
	pointer-events: none;
	background-color: #ffffff;
	border-color: #E9ECEF;
}