<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<link th:href="@{/css/board-header.css}" rel="stylesheet">
<link th:href="@{/css/study-css/study-board-post.css}" rel="stylesheet">
<link th:href="@{/css/popover.css}" rel="stylesheet">
<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=70c0de37da587509ef9f5d9da9f64303&libraries=services,places"></script>

<title>게시글</title>
</head>
<div layout:fragment="content" class="container main-content">
	<div
		th:replace="fragments/html/board-header :: board-header('스터디 게시판 > 게시글 보기')"></div>
	<div class="title-area mb-3">
		<!-- 제목 -->
		<div
			class="d-flex justify-content-between align-items-center mb-4 study-post-title">
			<h3 th:text="${post.title}" class="board-title mb-0">게시글 제목</h3>
			<!-- 본인 게시물이면 수정,삭제 -->
			<div
				th:if="${session.userId != null and session.userId == post.userId.userId}">
				<a th:href="@{/study/{studyId}/update(studyId=${post.studyId})}"
					class="btn btn-sm btn-outline-primary">수정</a>
				<form
					th:action="@{/study/{studyId}/delete(studyId=${post.studyId})}"
					method="post" class="d-inline">
					<button type="submit" class="btn btn-sm btn-outline-primary"
						onclick="return confirmDelete();">삭제</button>
				</form>
			</div>
		</div>
		<!-- 프로필 구간 -->
		<div class="d-flex align-items-center gap-3">
			<img th:if="${post.userId.userImageLocation != null}" alt="프로필"
				th:src="@{/uploads/profile/{id}.png(id=${post.userId.userId})}"
				class="profile"> <img
				th:unless="${post.userId.userImageLocation != null}"
				th:src="@{/svg/person.svg}" alt="기본 프로필 사진" class="profile">
			<div class="d-flex flex-column">
				<p th:text="${post.userId.nickname}"
					class="mb-0 fw-bold nickname all-userName"
					th:attr="data-userid=${post.userId.userId}"
					data-bs-toggle="popover" title="사용자 정보">김세정</p>
				<p th:text="${postDateFormatted}" class="mb-0 text-muted small">2025-08-18</p>
			</div>
			<!-- 다른 유저 게시물이면 신고버튼 활성화 -->
			<div
				th:if="${session.userId != null and session.userId != post.userId.userId}"
				class="ms-auto">
				<button type="button" class="btn p-0 border-0 bg-transparent"
					data-bs-toggle="modal" data-bs-target="#reportPostModal">
					<img alt="신고 버튼" class="report-img"
						th:src="@{/svg/report-button.svg}">
				</button>
				<div
					th:replace="fragments/html/report-modal :: reportModalFragment('reportPostModal', ${post.studyId}, ${post.userId.userId})"></div>
			</div>
		</div>
	</div>
	<!-- 게시물 내용 -->
	<div class="content-area">
		<div th:utext="${post.postHtml}" class="board-content">content</div>
		<!-- 지도 -->
		<div class="map-area text-center">
			<p class="map-title d-inline-block border-bottom border-secondary"
				th:text="|주소: ${post.address}|">위치 정보</p>
			<div id="map" class="map-container"></div>
		</div>
		<!-- 좋아요 버튼 -->
		<div class="text-center">
			<button id="likeBtn" type="button"
				class="btn btn-primary like-button"
				th:attr="data-study-id=${post.studyId}">
				좋아요 <img id="likeImg" th:src="@{/svg/like-off.svg}" alt="좋아요"
					class="img-fluid" style="width: 24px; height: 24px;"> <span
					id="likeCount" th:text="${post.likeCount}">0</span>
			</button>
		</div>
	</div>

	<!-- 댓글 -->
	<div class="comment-area">
		<div class="text-end">
			<a class="btn btn-outline-primary" href="/study" id="list-button">목록보기</a>
		</div>
		<div>
			<p class="comment-title d-inline-block">댓글 목록</p>
		</div>
		<div class="row">
			<form
				th:action="@{/study/{studyId}/comments(studyId=${post.studyId})}"
				method="post">
				<input type="hidden" name="userId" th:value="${session.userId}">
				<div class="row">
					<div class="col-10 mb-3">
						<textarea class="form-control comment-content"
							name="comment-content" placeholder="댓글을 입력하세요." rows="4" required></textarea>
					</div>
					<button class="col-2 btn btn-primary comment-button" type="submit">댓글
						작성</button>
				</div>
			</form>
		</div>
		<!-- 댓글 리스트 -->
		<div class="comment-list" th:each="comment : ${comments}">
			<div class="d-flex align-items-center mb-3">
				<img th:if="${comment.userId.userImageLocation != null}" alt="프로필"
					th:src="@{/uploads/profile/{id}.png(id=${comment.userId.userId})}"
					class="comment-profile"> <img
					th:unless="${comment.userId.userImageLocation != null}"
					th:src="@{/svg/person.svg}" alt="기본 프로필 사진" class="comment-profile">
				<strong th:text="${comment.userId.nickname}" tabindex="0"
					th:attr="data-userid=${comment.userId.userId}"
					data-bs-toggle="popover" data-bs-trigger="focus"
					class="comment-userName all-userName">작성자</strong> <span
					class="small ms-2"
					th:text="${#temporals.format(comment.commentsDate, 'yyyy-MM-dd HH:mm')}">작성일</span>
			</div>
			<p th:text="${comment.commentsContents}" class="mb-2">댓글 내용</p>

			<div class="text-end">
				<!-- 본인 댓글이면 수정,삭제 -->
				<div
					th:if="${session.userId != null and session.userId == comment.userId.userId}">
					<div class="d-flex justify-content-end align-items-center gap-2">
						<button class="btn btn-sm btn-primary" type="button"
							th:onclick="|toggleEdit(${comment.commentsId})|">수정</button>
						<form
							th:action="@{/study/{studyId}/comments/{commentId}/delete(studyId=${post.studyId}, commentId=${comment.commentsId})}"
							method="post" onsubmit="return confirmDelete();" class="d-inline">
							<button class="btn btn-sm btn-primary" type="submit">삭제</button>
						</form>
					</div>
					<div th:id="|edit-box-${comment.commentsId}|"
						class="hidden-update mt-2">
						<form
							th:action="@{/study/{studyId}/comments/{commentId}/edit(studyId=${post.studyId}, commentId=${comment.commentsId})}"
							method="post">
							<textarea class="form-control comment-content"
								name="comment-content" rows="3"
								th:text="${comment.commentsContents}"></textarea>
							<button class="btn btn-primary btn-sm mt-2" type="submit">수정
								완료</button>
						</form>
					</div>
				</div>
				<!-- 다른 유저 댓글일 경우 신고 활성화 -->
				<div
					th:if="${session.userId != null and session.userId != comment.userId.userId}">
					<button type="button" class="btn p-0 border-0 bg-transparent"
						data-bs-toggle="modal"
						th:data-bs-target="'#reportCommentModal-' + ${comment.commentsId}">
						<img alt="신고 버튼" th:src="@{/svg/report-button.svg}"
							class="report-img">
					</button>
				</div>
				<div
					th:replace="fragments/html/report-modal :: reportModalFragment('reportCommentModal-' + ${comment.commentsId}, ${post.studyId}, ${comment.userId.userId})"></div>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(comments)}">
			<hr class="comment-line">
		</div>
		<!-- 페이지네이션 -->
		<div class="comment-pagination mt-4" th:if="${totalPages > 0}">
			<ul class="pagination justify-content-center">
				<li class="page-item"
					th:classappend="${currentPage == 1}? 'disabled'"><a
					class="page-link"
					th:href="@{/study/{studyId}(studyId=${post.studyId}, page=${currentPage - 1})}">이전</a>
				</li>
				<li class="page-item"
					th:each="i : ${#numbers.sequence(1, totalPages)}"
					th:classappend="${i == currentPage}? 'active'"><a
					class="page-link"
					th:href="@{/study/{studyId}(studyId=${post.studyId}, page=${i})}"
					th:text="${i}">1</a></li>
				<li class="page-item"
					th:classappend="${currentPage == totalPages}? 'disabled'"><a
					class="page-link"
					th:href="@{/study/{studyId}(studyId=${post.studyId}, page=${currentPage + 1})}">다음</a>
				</li>
			</ul>
		</div>
		<script src="/js/study-like-button.js" defer></script>
		<script src="/js/popover.js" defer></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				// 성공 메시지 표시
				if ('[[${successMessage}]]') {
					alert('[[${successMessage}]]');
				}
				// 에러 메시지 표시
				if ('[[${errorMessage}]]') {
					alert('[[${errorMessage}]]');
				}
			});

			function toggleEdit(commentId) {
				const editBox = document
						.getElementById("edit-box-" + commentId);
				if (editBox.style.display === "none"
						|| editBox.style.display === "") {
					editBox.style.display = "block";
				} else {
					editBox.style.display = "none";
				}
			}

			function confirmDelete() {
				return confirm('정말 삭제하시겠습니까?');
			}
			// Thymeleaf 변수에서 주소 데이터 가져오기
			var address = '[[${post.address}]]';

			// 카카오 지도 초기 설정
			var mapContainer = document.getElementById('map');
			var mapOption = {
				// 주소 검색 전 임시 중심 좌표
				center : new kakao.maps.LatLng(37.566826, 126.9786567),
				level : 1
			};

			// 지도를 생성합니다.
			var map = new kakao.maps.Map(mapContainer, mapOption);

			// 주소-좌표 변환 객체와 키워드 검색 객체를 생성합니다.
			var geocoder = new kakao.maps.services.Geocoder();
			var ps = new kakao.maps.services.Places();

			// 주소-좌표 변환을 시도합니다.
			geocoder.addressSearch(address,
					function(result, status) {
						// 정상적으로 검색이 완료되었을 경우
						if (status === kakao.maps.services.Status.OK) {
							var coords = new kakao.maps.LatLng(result[0].y,
									result[0].x);

							// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다.
							map.setCenter(coords);

							// 마커를 생성하고 지도에 표시합니다.
							var marker = new kakao.maps.Marker({
								map : map,
								position : coords
							});

						} else {
							// 주소 검색 실패 시, 키워드 검색을 시도
							console.error("주소 검색 실패: " + address + ", 상태 코드: "
									+ status);

							ps.keywordSearch(address, function(data, status,
									pagination) {
								if (status === kakao.maps.services.Status.OK) {
									var coords = new kakao.maps.LatLng(
											data[0].y, data[0].x);

									// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다.
									map.setCenter(coords);

									// 마커를 생성하고 지도에 표시합니다.
									var marker = new kakao.maps.Marker({
										map : map,
										position : coords
									});
								} else {
									console.error("키워드 검색 실패: " + address
											+ ", 상태 코드: " + status);
								}
							});
						}
					});
		</script>
	</div>
</div>
</html>