<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<link th:href="@{/css/board-header.css}" rel="stylesheet">
<link th:href="@{/css/study-css/study-board-update.css}" rel="stylesheet">
<script
	src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<title>게시글 업데이트</title>
</head>
<div layout:fragment="content" class="page-wrap" id="main-content">
	<div
		th:replace="fragments/html/board-header :: board-header('스터디 게시판')"></div>

	<form th:id="@{/study/{studyId}/update(studyId=${post.studyId})}" method="post"
		onsubmit="return submitForm(this)">
		<div class="card card-body p-4 p-md-4 post-title">
			<div class="">
				<!-- 제목 -->
				<div class="mb-3">
					<input type="text" class="form-control form-control-lg post-input"
						id="title" name="title" placeholder="제목을 입력하세요."
						th:value="${post.title}" required />
				</div>

				<!-- 주소 -->
				<div class="row mb-3">
					<label class="col-sm-3 col-form-label post-address">주소를
						입력하세요</label>
					<div class="col-sm-9">
						<input type="text" name="address" th:value= "${post.address}"
							class="form-control form-control-lg post-input" required>
					</div>
				</div>
			</div>
		</div>
		<div class="card card-body post-content">
			<textarea class="post-editor" id="editor" name="postHtml" th:utext="${post.postHtml}"></textarea>
		</div>
		<!-- 버튼 -->
		<div class="d-flex justify-content-between mb-3 post-button">
			<a class="btn btn-outline-primary" th:href="@{/study/{studyId}(studyId=${post.studyId})}" id="list-button">취소하기</a>
			<button type="submit" class="btn btn-primary">수정하기</button>
		</div>
		<script>
  			ClassicEditor
    			.create(document.querySelector('#editor'))
    			.then(editor => {
        			// 에디터 높이 CSS 적용
        			editor.ui.view.editable.element.style.height = "500px";
    			})
    			.catch(error => {
      				console.error(error);
    			});
  			function submitForm(form) {
  			    alert("수정 완료되었습니다!");
  			    return true; 
  			}
		</script>
	</form>
</div>
</html>