<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<link th:href="@{/css/board-header.css}" rel="stylesheet">
<link th:href="@{/css/page-css/mypage-myportfolio-detail.css}" rel="stylesheet">
<title>내 이력서</title>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		// 성공 메시지 표시
		if ('[[${successMessage}]]') {
			alert('[[${successMessage}]]');
		}
		// 에러 메시지 표시
		if ('[[${errorMessage}]]') {
			alert('[[${errorMessage}]]');
		}
		// 경고 메시지 표시
		if ('[[${alertMessage}]]') {
			alert('[[${alertMessage}]]');
		}
	});
</script>
</head>

<div layout:fragment="content">
	<div class="container">

		<div class="myportfolio-title">
			<div
				th:replace="fragments/html/board-header :: board-header('내 이력서 > ' + ${portfolio.portfolioName})"></div>
		</div>
		<div class="embed-responsive embed-responsive-4by3 mb-3">
			<embed class="pdf-viewer embed-responsive-item"
				th:src="@{'/uploads/portfolio/' + ${portfolio.portfolioId} + '.pdf'}"
				type="application/pdf" width="100%" height="1030px" />
		</div>

		<!-- 버튼 4개 오른쪽 정렬 -->
		<div class="d-flex justify-content-end gap-2">
			<a href="/mypage/myportfolio" class="btn btn-outline-primary">목록</a>
			<form
				th:action="@{/mypage/myportfolio/{portfolioId}/rep(portfolioId=${portfolio.portfolioId})}"
				method="post" onsubmit="return confirm('대표 이력서로 설정하시겠습니까?');">
				<button type="submit" class="btn btn-primary">대표이력서 설정</button>
			</form>
			<form
				th:action="@{/mypage/myportfolio/{portfolioId}/delete(portfolioId=${portfolio.portfolioId})}"
				method="post" onsubmit="return confirm('이력서를 삭제하시겠습니까?');">
				<button type="submit" class="btn btn-primary">삭제</button>
			</form>
		</div>
	</div>
</div>
</html>