@charset "UTF-8";

#banner-container {
	width: 1050px;
	margin: auto;
	background-color: #ffeded;
	 border-radius: 20px;
	 border:none;
	 margin-top:30px
}

.banner-text {
	font-size: 12px;
	font-weight: 550;
}

.banner-image{
	float:left;
	margin-top:4px;
	margin-right:10px;
	margin-left:0px;
	width: 18px;
	height: 18px;
}
.banner-subtext {
  display: inline-block;
  margin-left: 30px;
}
#banner-left{
	margin-bottom:1px;
	margin-left:0px;
}
