.header1 {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#headerdiv1 {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 70px;
	align-items: center;
}

#headerdiv2 {
	display: flex;
	padding: 8px;
	background-color: #ffffff;
	border-radius: 25px;
	border: 2px solid #FF4473;
	justify-content: space-evenly;
}

#logo{
	padding-bottom : 5px;
}

#search-input {
	all: unset;
	font-size: 14px;
	width: 300px;
	height: 20px;
}

#svg-search {
	width: 5%;
	height: 5%;
}

#headerdiv3 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	background-color: #FFDFE7;
	border-radius: 10px;
}

#header-line{
background-color: #FF4473; width: 100%; height: 1px;
}

.btn-custom-header {
	border-color: #FA4371;
	color: #FA4371;
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
	margin-right : 10px;
	padding : 5px;
}

.btn-custom-header:hover {
	background-color: #FA4371; /* 마우스 올렸을 때 배경색 */
	color: #fff; /* 필요 시 글자색 변경 */
}

#header-buttons{
	display:flex;
	justify-content : center;
	align-items : center;
}

#input{
	font-size : 20px;
}
#input:focus{
	outline:none;
}
