body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* .navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 0.5rem 1rem;
	border: solid #ff4473;
	border-width: 0 0 3px;
} */


.nav-links {
	list-style: none;
	display: flex;
	gap: 1rem;
	margin: 0;
	padding: 0;
	left: 50%;

}

.custom-border{
	border-top : 1px solid #FF4473;
	border-bottom : 1px solid #FF4473;
}

.header-text{
	color:#000000;
}

.header-text:hover{
	cursor:pointer;
	color: #FF4473;
}

.nav-item.active .header-text{
	color: #ff4473 !important;
}