@charset "UTF-8";

.popover .popover-header {
	display: none;
}

.popover {
	width: 200px;
	background-color: #ffffff;
	border: 2px solid #FF4473;
	border-radius: 20px;
	text-align: center;
}

.popover-nickname {
	font-weight: bolder;
	font-size: 25px;
}

.popover hr {
	border: none;
	height: 2px;
	background-color:#FF4473;
	opacity: 5;
}

.popover-content {
	color: #C5C5C5;
	margin-bottom: 5px;
}

.popover-content-last {
	margin-bottom: 18px;
}

.popover-image-container {
 width: 70px;
 height: 70px;
 margin: auto;
 border: 1px solid #FF4473;
 border-radius: 50%;
 display: flex; 
 justify-content: center;
 align-items: center;
}

.popover-image-inner {
 width: 90%; 
 height: 90%;
 object-fit: contain; 
 border-radius: inherit;
}

.popover-button {
	width: 30px;
	height: 30px;
	font-size: 30px;
	background-color: #FF4473;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
	margin: auto;
}