<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>

<link th:href="@{/css/board-header.css}" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/page-css/home.css}" />

<title>포폴듀스201 홈</title>
</head>

<div layout:fragment="content">

	
		<div class="home-main">

			<div class="container-fluid px-0">
				<img th:src="@{/svg/crown.svg}" width="30" height="30">
				<div class="row">
					<div class="col" id="main-board-header">

						<div
							th:replace="fragments/html/board-header :: board-header('베스트 이력서 첨삭')"></div>
					</div>


				</div>





				<!-- 메인 캐러셀 -->
				<div id="main-container">
					<div id="carouselExampleControls" class="carousel slide"
						data-bs-ride="carousel">
						<div class="portfolio">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div id="portfolio-items">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
									</div>
								</div>

								<div class="carousel-item">
									<div id="portfolio-items">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">

									</div>
								</div>

								<div class="carousel-item">
									<div id="portfolio-items">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
										<img th:src="@{/img/portfolio.png}" width="300" id="item">
									</div>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselExampleControls" data-bs-slide="prev">
							<img th:src="@{/svg/left.svg}" id="left-button"> <span
								class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#carouselExampleControls" data-bs-slide="next">
							<img th:src="@{/svg/right.svg}" id="right-button"> <span
								class="visually-hidden">Next</span>
						</button>
					</div>
				</div>



				<div class="row">
					<div class="col-6">
						<div id="main-board-header-two">
							<div
								th:replace="fragments/html/board-header :: board-header('오늘의 채용 공고')"></div>
							<img th:src="@{/svg/arrow.svg}" width="35" height="35"
								onclick="location.href='/recruit'">
						</div>
						
						<div class="recruit">
						<p>
						현재 채용 공고가 없습니다.
						</p>
						</div>
					</div>


					<div class="col-6">
						<div id="main-board-header-two">
							<div
								th:replace="fragments/html/board-header :: board-header('인기 스터디')"></div>
							<img th:src="@{/svg/arrow.svg}" width="35" height="35"
								onclick="location.href='/study'">
						</div>
						<div class="main-study">
							<div th:each="board:${Board}">
								<a th:href="${session.userId == null ? '/login' : '/study/' + board.study_id}"
									style="all: unset;">
									<div id="main-study-component">

										<h3 id="h3-text" th:text="${board.title}">스터디 글의 제목 입니다. 길이 테스트 길이 테스트</h3>

										<div id="main-study-line"></div>
										<h3 id="h3-text" th:text="${board.nickname}">아이디</h3>

									</div>
								</a>
							</div>

						</div>
					</div>


				</div>
			</div>

		</div>
	</div>

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<div layout:fragment="script"></div>
</html>