<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header1.css}" rel="stylesheet">
<link th:href="@{/css/header2.css}" rel="stylesheet">
<link th:href="@{/css/header3.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/banner.css}" rel="stylesheet">
<link th:href="@{/css/board-header.css}" rel="stylesheet">

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>index</p>
<div th:replace="fragments/button :: primaryButton('로그인', '/login')"></div>
<div th:replace="fragments/html/header1 :: header1"></div>
<div th:replace="fragments/html/header2 :: header2"></div>
<div th:replace="fragments/html/header3 :: header3('/')"></div>
<div th:replace="fragments/html/board-header :: board-header"></div>
<div th:replace="fragments/html/banner :: banner('이력서 및 자기소개서, 포트폴리오를 첨삭받을 수 있는 게시판 입니다.', '관련 없는 게시글 및 광고성 정보, 욕설이 포함된 게시글은 예고 없이 삭제될 수 있습니다.','첨삭 시 반드시 매너를 지켜주세요!')"></div>
<div th:replace="fragments/html/footer :: footer"></div>

</body>
</html>