<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row justify-content-center mt-5">
			<div class="col-9">
				<div
					th:replace="fragments/html/board-header :: board-header('첨삭 게시판')"></div>
				<div class="row border-top border-3 p-3 align-items-center">
					<div class="col-9">
						<h3 class="h3" th:text="${reviewPost.title}"></h3>
					</div>
					<div th:if="${session.userId == reviewPost.user.userId}"
						class="col-3 d-flex justify-content-center">
						<a class="btn btn-primary m-2"
							th:href="@{/review/post/{reviewPostId}/edit(reviewPostId=${reviewPost.reviewPostId})}">수정하기</a>
						<form
							th:action="@{/review/post/{reviewPostId}/delete(reviewPostId=${reviewPost.reviewPostId})}"
							method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
							<button class="btn btn-primary m-2" type="submit">삭제하기</button>
						</form>
					</div>
					<div class="row justify-content-start">
						<img class="col-3 col-md-2 col-xl-1 rounded-circle"
							src="https://marketplace.canva.com/FUJzw/MAEVntFUJzw/1/tl/canva-human-face.-MAEVntFUJzw.png" />
						<div class="col-9 col-md-10 col-xl-11 row align-items-center">
							<a class="fs-4 text-decoration-none text-dark" th:href="@{/}"
								th:text="${reviewPost.user.nickname}"></a>
							<p th:text="${reviewPost.createDate}"></p>
						</div>
					</div>
				</div>
				<div class="pt-3 border-top border-1 mt position-relative"
					id="portfolio-div">
					<p th:utext="${reviewPost.portfolioHtml}"></p>
				</div>
				<div class="pt-3 border-top border-1 mt">
					<p th:utext="${reviewPost.postHtml}"></p>
				</div>

				<div
					class="d-flex justify-content-center mt-3 border-bottom border-1">
					<button class="btn btn-primary text-align-center m-5">LIKE
						👍</button>
				</div>
				<div class="d-flex justify-content-end m-3">
					<button class="btn btn-primary" type="button"
						onclick="location.href='/review'">목록보기</button>
				</div>
				<div class="p-3">
					<h4 class="h4">댓글 목록</h4>
					<form action="/review/comment" method="post">
						<div class="row">
							<div class="col-10">
								<input type="hidden" th:value="${session.userId}" name="userId" />
								<input type="hidden" th:value="${reviewPost.reviewPostId}"
									name="reviewPostId" />
								<textarea class="form-control" placeholder="댓글을 입력하세요"
									name="comment"></textarea>
							</div>
							<button class="col-2 btn btn-primary" type="submit">등록</button>
						</div>
					</form>
					<div class="row mt-3 border-top pt-3"
						th:each="comments : ${commentsList}">
						<img class="col-3 col-md-2 col-xl-1 rounded-circle"
							src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Poster-sized_portrait_of_Barack_Obama.jpg">
						<div class="col-10">
							<div class="fw-bold" th:text="${comments.userId.nickname}"></div>
							<div class="col-10 mt-2" th:text="${comments.commentsContents}"
								th:id="'comments-contents-' + ${comments.commentsId}"></div>
						</div>

						<div class="d-flex justify-content-end">
							<button class="btn btn-primary ms-1"
								th:if="${session.userId == comments.userId.userId}"
								th:onclick="|toggleEdit(${comments.commentsId})|">수정</button>
							<form
								th:action="@{/review/comment/{reviewCommentId}/delete(reviewCommentId=${comments.commentsId})}"
								method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
								<input type="hidden" th:value="${reviewPost.reviewPostId}"
									name="reviewPostId">
								<button th:if="${session.userId == comments.userId.userId}"
									class="btn btn-primary ms-2" type="submit">삭제</button>
							</form>
							<button class="btn btn-primary ms-1">신고</button>
							<!-- 숨겨진 수정창 -->
							<div th:id="|edit-box-${comments.commentsId}|"
								style="display: none;">
								<form
									th:action="@{/review/comment/{reviewCommentId}/edit(reviewCommentId=${comments.commentsId})}"
									method="post">
									<textarea class="form-control" name="comment-content"
										id="comment-content" th:text="${comments.commentsContents}"></textarea>
									<button class="btn btn-primary btn-sm mt-2" type="submit">수정
										완료</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="data-container" th:data-post-id="${reviewPost.reviewPostId}">
		</div>
	</div>
	<th:block layout:fragment="script">
	<script>
		let startX = 0;
		let startY = 0;

		function createReviewForm(event) {
			// 드래그는 제외하고, 일반 클릭일 때만 review-div를 생성한다
			if (Math.abs(startX - event.clientX)
					+ Math.abs(startY - event.clientY) >= 100) {
				return;
			}
			// review-div가 이미 존재할 때, review-div 밖을 클릭하면 review-div가 사라진다
			// review-div가 이미 존재한다면, 아무 작업도 하지 않고 함수 즉시 종료.
			if (document.querySelector('.review-div')) {
				return;
			}
			const portfolioDiv = document.querySelector("#portfolio-div");

			const rect = portfolioDiv.getBoundingClientRect();
			const x = event.clientX - rect.left;
			const y = event.clientY - rect.top;

			const reviewDiv = document.createElement("div");
			reviewDiv.className = "card p-2 text-center bg-light review-div";
			reviewDiv.style.position = "absolute";
			reviewDiv.style.zIndex = "9999";
			reviewDiv.style.left = x + "px";
			reviewDiv.style.top = y + "px";

			//review form 
			const reviewForm = document.createElement('form');
			reviewForm.setAttribute('id', 'review-form');
			reviewDiv.appendChild(reviewForm);

			//review input hidden reviewLocationX, reviewLocationY
			const reviewLocationX = document.createElement("input");
			reviewLocationX.setAttribute('type', 'hidden');
			reviewLocationX.setAttribute('value', parseInt(reviewDiv.style.left, 10));
			reviewLocationX.setAttribute('name', 'reviewLocationX');
			reviewForm.appendChild(reviewLocationX);

			const reviewLocationY = document.createElement("input");
			reviewLocationY.setAttribute('type', 'hidden');
			reviewLocationY.setAttribute('value', parseInt(reviewDiv.style.top, 10));
			reviewLocationY.setAttribute('name', 'reviewLocationY');
			reviewForm.appendChild(reviewLocationY);

			//review input text reviewContents
			const reviewText = document.createElement("textarea");
			reviewText.setAttribute('class', 'form-control');
			reviewText.setAttribute('name', 'reviewContents');
			reviewForm.appendChild(reviewText);

			//review input hidden reviewPostId
			const reviewPostId = document.createElement("input");
			reviewPostId.setAttribute('type', 'hidden');
			reviewPostId.setAttribute('value', document
					.getElementById('data-container').dataset.postId);
			reviewPostId.setAttribute('name', 'reviewPost.reviewPostId');
			reviewForm.appendChild(reviewPostId);

			//review submit button
			const reviewSubmitButton = document.createElement("button");
			reviewSubmitButton.setAttribute('class', 'btn btn-primary m-2');
			reviewSubmitButton.setAttribute('type', 'submit');
			reviewSubmitButton.textContent = "작성";
			reviewForm.appendChild(reviewSubmitButton);

			// reviewForm에서 submit시, fetch를 통한 post
			reviewForm.addEventListener('submit', async function(event){
				event.preventDefault();
				
	 			const formData = new FormData(reviewForm);
				try{
					const response = await fetch('/review',{
						method: 'post',
						body: formData,
					});
					if(!response.ok){
						throw new Error(`HTTP error status: ${response.status}`);
					}
				} catch (error){
					console.error("Fetch Error:", error);
				}
				
				console.log("submit event handler");
			})
			
			portfolioDiv.appendChild(reviewDiv);
		}

		document.querySelector("#portfolio-div").addEventListener('mousedown',
				function(event) {
					startX = event.clientX;
					startY = event.clientY;
				});
		document.querySelector("#portfolio-div").addEventListener('mouseup',
				createReviewForm)
		//댓글 수정
		document
				.addEventListener(
						'DOMContentLoaded',
						function() {
							function toggleEdit(commentId) {
								const editBox = document
										.getElementById("edit-box-" + commentId);
								if (editBox) {
									editBox.style.display = (editBox.style.display === "none" || editBox.style.display === "") ? "block"
											: "none";
								}
							}
							function confirmDelete() {
								return confirm('정말 삭제하시겠습니까?');
							}
						});
	</script>
	</th:block>
</body>
</html>
