<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="h1 m-3">첨삭게시판</h1>
		<table class="table text-center">
			<thead>
				<tr>
					<th>#
					<th>작성자
					<th>제목
					<th>조회수
				</tr>
			</thead>
			<thead>
				<tr th:each="bestReviewPost, stat : ${bestReviewPostList}">
					<td th:if="${stat.count == 1}"><img th:src="@{/svg/crown.svg}" alt="crown"
						style="width: 16px; height: 16px;" /> <span
						th:text="${stat.count}"></span></td>
					<td th:if="${stat.count == 2}"><img th:src="@{/svg/2nd-crown.svg}" alt="crown"
						style="width: 16px; height: 16px;" /> <span
						th:text="${stat.count}"></span></td>
					<td th:if="${stat.count == 3}"><img th:src="@{/svg/3rd-crown.svg}" alt="crown"
						style="width: 16px; height: 16px;" /> <span
						th:text="${stat.count}"></span></td>
					<td><a class=""
						th:href="@{/review/post(reviewPostId=${bestReviewPost.reviewPostId})}"
						th:text="${bestReviewPost.title}"></a></td>
					<td th:text="${bestReviewPost.user.nickname}"></td>
					<td th:text="${bestReviewPost.viewCount}"></td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reviewPost, stat : ${reviewPostList}">
					<td th:text="${stat.count}"></td>
					<td><a class=""
						th:href="@{/review/post(reviewPostId=${reviewPost.reviewPostId})}"
						th:text="${reviewPost.title}"></a></td>
					<td th:text="${reviewPost.user.nickname}"></td>
					<td th:text="${reviewPost.viewCount}"></td>
				</tr>
			</tbody>
		</table>

		<div class="d-flex justify-content-end">
			<button class="btn btn-primary"
				onclick="location.href='/review/write'">+</button>
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<!-- 이전 버튼 -->
				<li class="page-item"
					th:classappend="${currentPage == 1} ? 'disabled'"><a
					class="page-link" th:href="@{/review(page=${currentPage - 1})}">Previous</a></li>

				<!-- 페이지 번호 반복 -->
				<li class="page-item"
					th:each="i : ${#numbers.sequence(1, totalPages)}"
					th:classappend="${i == currentPage} ? 'active'"><a
					class="page-link" th:href="@{/review(page=${i})}" th:text="${i}"></a></li>

				<!-- 다음 버튼 -->
				<li class="page-item"
					th:classappend="${currentPage == totalPages} ? 'disabled'"><a
					class="page-link" th:href="@{/review(page=${currentPage + 1})}">Next</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>