<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
	<link th:href="@{/css/review-css/review-post-write.css}" rel="stylesheet">
	<link th:href="@{/css/board-header.css}" rel="stylesheet">

<script
	src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

<title>첨삭게시판 글 수정하기</title>

</head>
<div layout:fragment="content">
	<div class="row justify-content-center m-5">
		<div class="col-10">
				<div
					th:replace="fragments/html/board-header :: board-header('첨삭 게시판 > 글 수정하기')"></div>

			<form th:action="@{/review/edit/save}" method="post">
			    <input type="hidden" name="reviewPostId" th:value="${reviewPost.reviewPostId}">
				<div class="m-1 row p-3 border rounded">
					<div class="col">
						<input type="text" class="form-control col-6 text-center"
							id="title" name="title" placeholder="제목을 입력하세요" th:value="${reviewPost.title}" required>
					</div>
				</div>
				<div class="my-2">
					<textarea class="form-control" id="editor" name="postHtml"
						rows="10" th:text="${reviewPost.postHtml}"></textarea>
				</div>
				<div class="d-flex justify-content-between">
					<a th:href="@{/review/post(reviewPostId=${reviewPost.reviewPostId})}" class="btn btn-outline-primary">원글보기</a>
					<button type="submit" class="btn btn-primary">수정하기</button>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
	<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log("CKEditor 로드 완료", editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>
</div>
</html>
