<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../css/header2.css">
<nav th:fragment="header2" class="">
	<div class=" mt-1 custom-border">
		<ul
			class="row navbar-nav d-flex flex-row justify-content-center w-100 gap-4">
			<li class="col-auto nav-item text-center text-primary fs-5 fw-bold"
				th:classappend="${currentUri != null and currentUri.startsWith('/review')} ? ' active'"><a
				class="nav-link header-text" href='/review-post'>첨삭게시판</a></li>
			<li class="col-auto nav-item text-center text-primary fs-5 fw-bold"
				th:classappend="${currentUri == '/recruit'} ? ' active'"><a
				class="nav-link header-text" href='/recruit'>채용 공고</a></li>
			<li class="col-auto nav-item text-center text-primary fs-5 fw-bold"
				th:classappend="${currentUri != null and currentUri.startsWith('/study')} ? ' active'"><a
				class="nav-link header-text" href='/study'>스터디</a></li>
			<li class="col-auto nav-item text-center text-primary fs-5 fw-bold"
				th:classappend="${currentUri == '/ranking'} ? ' active'"><a
				class="nav-link header-text" href='/ranking'>순위표</a></li>
			<li class="col-auto nav-item text-center text-primary fs-5 fw-bold"
				th:classappend="${currentUri != null and currentUri.startsWith('/notice')} ? ' active'"><a
				class="nav-link header-text" href='/notice-board'>공지사항</a></li>
		</ul>
	</div>
</nav>