<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../css/header2.css">
<nav th:fragment="header2" class="">
	<div class=" mt-1 custom-border">
		<ul
			class="row navbar-nav d-flex flex-row justify-content-center w-100">
			<li class="col-2 nav-item text-center text-primary fs-5 fw-bold"><a
				class="nav-link" href='/review'>첨삭게시판</a></li>
			<li class="col-2 nav-item text-center text-primary fs-5 fw-bold"><a
				class="nav-link" href='/recruit'>채용 공고</a></li>
			<li class="col-2 nav-item text-center text-primary fs-5 fw-bold"><a
				class="nav-link" href='/study'>스터디</a></li>
			<li class="col-2 nav-item text-center text-primary fs-5 fw-bold"><a
				class="nav-link" href='#'>순위표</a></li>
			<li class="col-2 nav-item text-center text-primary fs-5 fw-bold"><a
				class="nav-link" href='#'>공지사항</a></li>
		</ul>
	</div>
</nav>