
<head>
<link th:href="@{/css/header1.css}" rel="stylesheet">


</head>
<body>
	<div class="header1" th:fragment="header1">
		<div class="row m-2" id="headerdiv1">
			<div class="col-2 col-md-3 d-flex justify-content-start">
				<img class="img-fluid" th:src="@{/svg/pofolduce201Logo.svg}"
					alt="아이콘" width="80" height="80" onclick="location.href='/'">
			</div>




			<div class="col-7 col-md-5 row" id='headerdiv2'>



				<div class="col-9 col-md-10 d-flex justify-content-start">



					<input class="flex-grow-1 border-0" type="text" id="input" />
				</div>
				<div class="col-3 col-md-2 d-flex justify-content-end">
					<img class="img-fluid" th:src="@{/svg/search.svg}" width="30"
						height="30" id="searchBtn">
				</div>
			</div>
			<form id="hiddenForm" action="/search" method="GET"
				style="display: none;">
				<input type="text" name="search" id="hiddenInput" />
			</form>
	



			<div class="col-3 col-md-3 d-flex justify-content-end">
				<div th:if="${session.userId == null}">
					<button class="btn-sm btn-primary" onclick="location.href='/login'">Login</button>
				</div>
				<div th:if="${session.userId != null}">
					<div class="d-flex">
						<button class="btn-sm btn-primary m-1"
							onclick="location.href='/logout'">Log-out</button>
						<img class="img-fluid m-1" th:src="@{/svg/person.svg}"
							onclick="location.href='/mypage'">
					</div>
				</div>
			</div>
		</div>
		<!-- 			<div id="header-line"></div>
 -->
	</div>


</body>


