
<head>
<link th:href="@{/css/header1.css}" rel="stylesheet">
</head>
<body>
	<div class="header1" th:fragment="header1">

		<div id="headerdiv1">
			<img id="logo" th:src="@{/svg/pofolduce201Logo.svg}" alt="아이콘" width="50"
				height="50">
			<div id="headerdiv2">
				<input id="search-input" /> <img id="svg-search"
					th:src="@{/svg/search.svg}">
			</div>
			<div id="headerdiv3">
				<img th:src="@{/svg/person.svg}" style="width: 70%; height: 70%;">
			</div>
		</div>
		<div id="header-line"></div>

	</div>
</body>