<link rel="stylesheet" th:href="@{/css/header3.css}" />
<link rel="stylesheet" th:href="@{/css/page-css/mypage-menu.css}" />

<div th:fragment="mypage-menu">

	<div class="mypage-menu-board">
		<div class="mypage-menu-title">

			<a th:href="@{/mypage}" id="box">
				<h2 id="title">내 정보</h2> <img th:src="@{/svg/arrow.svg}" id="arrow"
				width="20px" height="20px">

			</a>
			<div id="line"></div>
			<div class="menu-box">
				<a th:href="@{/mypage/mypost}" class="text">내 게시글 목록</a> <br /> <a
					th:href="@{/mypage/mycomment}" class="text">내 댓글 목록</a> <br /> <a
					th:href="@{/mypage/myreview}" class="text">내 첨삭 목록</a>
			</div>
			<a th:href="@{/mypage/myportfolio}" id="box">
				<h2 id="title">내 이력서</h2> <img th:src="@{/svg/arrow.svg}" id="arrow"
				width="20px" height="20px">
			</a>
			<div id="line"></div>
			<div class="menu-box">
			
			<a th:href="@{/mypage/myreviewget}" class="text">받은 첨삭</a>
			
			</div>
		</div>

	</div>
</div>